/*base styles*/
:root {
    --primary-text-color: #434455;
    --secondary-color:#2E2F42;
    --primary-white-color: #FFFFFF;
    --background-our-team-buttons: #F4F4FD;
    --accent-color: #4D5AE5;
    
}
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: var(--primary-white-color);
}
ul {
    list-style: none;
}

.link {
    text-decoration: none;
    color: inherit;
}
/*header*/
.site-nav {
   
}

/*logo*/
.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.logo-span {
    color: #4D5AE5;
}
/*main nav*/
.site-nav-list {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--secondary-color);

}

/*contacts*/
.contacts-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
}
 
/*index.html*/
.hero {
    background-color: var(--secondary-color);
}

.heading-hero {
    font-weight: 600;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-white-color);
}

.button-hero {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: var(--primary-white-color);
    padding: 16px 32px;
    background-color: var(--accent-color);
    cursor: pointer;
}

.features {

}

.features-list h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.features-list p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.activity {

}
.activity-heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color);
}

.team {
    background-color: var(--background-our-team-buttons);
}
.team-heading {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--secondary-color);
}
.team-list h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
}
.team-list p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.footer {
   background-color: var(--secondary-color); 
}
.footer .link {
    color: var(--background-our-team-buttons);
}
 .footer p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
 }